/********************************************/

/********************************************/

/**************** fonts *********************/


/*************** general style **************/
body {
    background-color:black;
    padding: 0;
    margin:0;
    }
#room {background-image: url(../img/background.jpg);
        width: 1080px;
        height: 850px;
        margin:auto;
        position:relative;
        background-color: black;
      }
/* tv area */
#tv{width: 320px;
    height: 150px;
   /*border: 2px solid white;*/ 
    position:absolute;
    top: 250px;
    left:0px;
    }
    /* light area */
#light{width: 30px;
    height: 40px;
    top: 230px;
    right: 200px;
    /*border: 2px solid white; */
    position: absolute;
}
#bed{width: 800px;
    height: 300px;
    top:500px;
    right: 0px;
    position:absolute;
    /* border: 2px solid white;*/
    }
/* imgs and gifs */
#tvman{height: 820px;
        width: 1080px;
        visibility: hidden;
}

#shadow {height: 820px;
    width: 1080px;
    position: absolute;
    visibility: hidden;
}

#bear {
    position:absolute;
    height: 880px;
    width: 1200px;
    visibility: hidden;
    top: 0px; /* Ajusta esta posición según sea necesario */
    right: 0px; /* Ajusta este valor para superponer la imagen correctamente */}